{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>JavaScript!</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap-4.3.1-dist/css/bootstrap.css' %}">
	<link href="{% static 'css/theme.css' %}" rel="stylesheet">
	<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
	<script>
		$(function(){
			$('#change').click(function(){
				var t = $('body').attr('class');
				if (t == 'theme1'){
					$('body').attr('class', "theme2");
				}
				else {
					$('body').attr('class', "theme1");
				}
			});

			var acc = $(".accordion");
			for (var i = 0; i < acc.length; i++) {
				acc[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var panel = this.nextElementSibling;
					if (panel.style.display === "block") {
						panel.style.display = "none";
					}
					else {
						panel.style.display = "block";
					}
				});
			}
		});
	</script>
</head>
<body class="theme1">
	<div class="center">
		<button id="change">Ubah Tema</button>
		<button class="accordion">Aktivitas</button>
		<div class="panel">
		  <p>Kuliah</p>
		</div>

		<button class="accordion">Pengalaman Organisasi/Kepanitiaan</button>
		<div class="panel">
		  <p>Kosong</p>
		</div>

		<button class="accordion">Prestasi</button>
		<div class="panel">
		  <p>Kosong</p>
		</div>
	</div>
</body>
</html>